.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 150px;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
  .heroText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (min-width: 1000px) and ( max-width: 1240px) {
      padding-left: 40px;
    }
    @media screen and ( max-width: 1000px) {
      width: 80%;
      order: 2;
    }
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
    a {
      display: block;
      font-size: 2em;
      padding: 0.5em;
      background-color: rgb(98, 153, 255);
      margin: 1em 0 0;
      border-radius: 20px;
      @media screen and ( max-width: 1000px) {
        padding: 1em;
        font-size: 1em;
        margin: 1em auto 0;
      }
    }
  }
  .heroImg {
    @media screen and ( max-width: 1000px) {
      padding: 1em;
    }
    .img {
      img {
      }
    }
  }
}
